<div class="card">
  <% if prototype.image.attached? %>
    <%= link_to image_tag(url_for(prototype.image), class: :card__img) %>
  <% end %>
  <div class="card__body">
    <%= link_to prototype.title, class: :card__title %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to prototype.user, class: :card__user %>
  </div>
</div>